{% extends 'layout.twig' %}

{% block content %}
  
  <div class="top">
    <h1>Free Your Links</h1>
    <p>I switched to <a href="https://pinboard.in">Pinboard</a> recently and wanted to bring my Google bookmarks with me. Turns out Google won't let you export your bookmarks with tags and timestamps intact. But when there's a will, there's a way.</p>
  </div>

  {% if app.session.hasFlash('error') %}<div class="alert alert-error">{{ app.session.getFlash('error') }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>{% endif %}
    
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <h2>1. Save</h3>
        <p>Right-click the link below and choose "Save as" to save your bookmarks.</p>
        <p><a href="http://www.google.com/bookmarks/?output=xml&num=100000">Google Bookmarks</a></p>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        <h2>2. Convert</h2>
        <p>Convert that file to the Delicious/Pinboard format.</p>
        <form action="/" method="post" {{ form_enctype(form) }}>
          {{ form_errors(form) }}
          <span class="file-wrapper">
            {{ form_widget(form.bookmarks) }}
            <span class="btn btn-primary">Choose File</span>
          </span>
          {{ form_rest(form) }}
          {#<button type=submit class="btn btn-primary">Convert</input>#}
        </form>
      </div>
    </div>
  
    <div class="span4">
      <div class="well">
        <h2>3. Import</h2>
        <p>Import the converted file.</p>
        <p><a href="https://pinboard.in/settings/import">Pinboard</a></p>
        <p><a href="http://export.delicious.com/settings/bookmarks/import">Delicious</a></p>
      </div>
    </div>
  </div>
{% endblock %}
